- if @parser
  %ul.smurfville-color-list
    - @parser.colors.each do |color_key, color_hash|
      %li{style: "background-color: #{color_key}; color: #{foreground_color(color_key)}"}
        .smurfville-html-color{title: color_hash[:alternate_values].join(", ")}= color_key
        %ul
          - color_hash[:variables].each do |color_var|
            = render partial: "color_var", locals: {color_var: color_var}