//= require_self

$border-color: silver

.smurf-color-list
  padding: 0
  font-family: sans-serif
  ul
    padding: 0
  li
    list-style-type: none

.smurf-color-item
  float: left
  width: 200px
  border: 1px solid $border-color
  padding: 10px
  margin: 10px

