// literal colors

$white: white
$black: #000

$light: #fff

$red: red

// semantic color mappings

$light-color: $white

$light-background-color: $white
$dark-background-color: $black

$light-text-color: $light

$error-color: $red

$function-generated: tint($error-color, 30%)

