<!DOCTYPE html>
<html>
<head>
  <title>Smurf</title>
  <%= stylesheet_link_tag    "smurf/application", :media => "all" %>
  <%= javascript_include_tag "smurf/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
