<!DOCTYPE html>
<html>
<head>
  <title>Smurfville</title>
  <%= stylesheet_link_tag    "smurfville/application", :media => "all" %>
  <%= javascript_include_tag "smurfville/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
